@model Request
<div class="m-1 p-1">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="GetBalances" method="get">
        <div class="form-group">
            <label asp-for="AccountId">ID аккаунта</label>
            <div asp-validation-for="AccountId" class="text-danger"></div>
            <input asp-for="AccountId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PeriodType">Тип периода</label>
            <div asp-validation-for="PeriodType" class="text-danger"></div>
            <input asp-for="PeriodType" type="radio" value="1" />
            <span>Год</span> <br />
            <input asp-for="PeriodType" type="radio" value="2" />
            <span>Месяц</span> <br />
            <input asp-for="PeriodType" type="radio" value="3" />
            <span>Квартал</span> <br />
        </div>
        <button class="btn btn-primary" type="submit">Получить данные</button>
    </form>
</div>
